@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./tree.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0;
  text-align: center;
  color: #ffffff;
}

.daytime {
  width: 400px;
  padding: 20px;
  background: linear-gradient(18.04deg, #227622 -0.75%, #050e06 100%);
  box-shadow: 1px 1px 10px #b3faa1;
  opacity: 0.8;
  border-radius: 12px;
}
.night {
  padding: 20px;
  background: linear-gradient(18.04deg, #081b08 -0.75%, #6d6d6d 100%);
  box-shadow: 1px 1px 10px #565756;
  opacity: 0.9;
  border-radius: 12px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.degree {
  display: flex;
  justify-content: center;
  font-size: 37px;
  align-items: center;
  margin-top: -40px;
  font-weight: 400;
}

.hero {
  max-width: 200px;
  margin-top: -50px;
}

.digit {
  font-weight: 600;
  margin-top: -30px;
  margin-bottom: 10px;
}
#deg-unit {
  margin-top: -50px;
}
.date {
  font-size: 20px;
  margin-bottom: 15px;
}
.description {
  font-size: 20px;
  text-transform: uppercase;
}

.fa-solid {
  color: white;
  font-size: 20px;
}

table {
  width: 100%;
  text-align: left;
  line-height: 30px;
  border-collapse: collapse;
}
table tr td {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px;
}
